/* Reset some default browser styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

img {
    width: 150px; /* Set your desired width */
    height: 150px; /* Set your desired height */
    object-fit: cover; /* Ensures images are scaled without distortion */
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
    background-color:#b980dc;
}

.about, .exotics, .timeless, .contact {
    background-color: #ececec;
    padding: 20px;
    padding-left: 40px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px; /* rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

.exotics {
    background-color: #af432b;
}

.timeless {
    background-color: #fafad2;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.contact{
    background-color: #fafad2;
}

a {
    color: #00f;
}

section.hero {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('teas_hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

section.hero .cta-button {
    padding: 10px 20px;
    background-color: #ff7f50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 20px;
}

section.hero .cta-button:hover {
    background-color: #ff4500;
}
